body {
  background: url(Images/bkgd1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner {
  margin-top: 300px;
  text-align: center;
}
