body {
  background-image: url(Images/bkgd2.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 300%;
  }
}

footer {
  display: flex;
  justify-content: center;
}
